body{
   background-color: rgb(0, 0, 0);
     color: aquamarine;
}

header  {
      text-align: center;
      font-size: 100px; 
      color: aquamarine;
      border-bottom: solid 5px aquamarine
}

section {

    display: flex;
}